:root{
	--black: rgb(18, 18, 18);
}

* {
	font-family: 'Lato', sans-serif;
}

body {
	background-color: var(--black);
}


nav {
	background-color: var(--black);
	
	font-size: 22px;
	margin-left: 25%;
	margin-right: 25%;
	padding: $spacer !important;
}

.navbar-brand{
	font-size: 42px;
}
li {
	padding: 30px;
}
.btn {
	border-radius: 20px;
	height: 50px;
	width: 135px;
	font-size: 22px;
	border-width: 3px;

}

h1{
	margin-top: 4em;
}

.presentation, .Contact{
	margin-left: 25%;
}
 
