:root{
	--black: rgb(18, 18, 18);
}

body {
	background-color: var(--black);
}


nav {
	background-color: var(--black);
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-left: 25%;
	margin-right: 25%;
	padding: $spacer !important;
}

.navbar-brand{
	font-size: 32px;
}
li {
	padding: 30px;
}
.btn {
	border-radius: 15px;
	height: 40px;
	width: 110px;
	font-size: 18px;
}
